# 第三章 Python的数据结构、函数和文件

3.1 数据结构和序列

元组

In [2]:
tup = 4, 5, 6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6),(7,8)

In [5]:
nested_tup

((4, 5, 6), (7, 8))

In [6]:
tuple([4,0,2])

(4, 0, 2)

In [8]:
tu = tuple('string')

In [9]:
tu[0]

's'

In [10]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [12]:
a, b, c = tup

In [13]:
a

4

In [14]:
tup = 4, 5, (6, 7)

In [15]:
a, b, (c, d) = tup

In [16]:
a, b = 1, 2

In [17]:
b, a = a, b

In [18]:
a

2

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [21]:
rest

[3, 4, 5]

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

列表

In [23]:
a_list = [2, 3, 7, None]

In [24]:
b_list = list(('foo', 'bar', 'baz'))

In [25]:
b_list

['foo', 'bar', 'baz']

In [26]:
gen = range(10)

In [27]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b_list.append('fdfds')

In [29]:
b_list

['foo', 'bar', 'baz', 'fdfds']

In [30]:
b_list.insert(1,'rff')

In [31]:
b_list

['foo', 'rff', 'bar', 'baz', 'fdfds']

In [32]:
b_list.pop(2)

'bar'

In [33]:
'bar' in b_list

False

In [34]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, 'foo']

In [36]:
x.extend([7, 8, (2, 3)])

In [37]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [38]:
a = [7, 2, 5, 1, 3]

In [39]:
a.sort()

In [40]:
a

[1, 2, 3, 5, 7]

In [41]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [42]:
b.sort(key = len)

In [43]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [44]:
import bisect

In [45]:
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c,2)

4

In [46]:
c

[1, 2, 2, 2, 3, 4, 7]

切片

In [47]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [48]:
seq[0:4]   #切片的起始元素是包括的，不包含结束元素

[7, 2, 3, 7]

In [49]:
seq[0:5]

[7, 2, 3, 7, 5]

In [50]:
seq[1:4]

[2, 3, 7]

In [51]:
seq[3:4] = [6, 3]

In [52]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [53]:
seq[:5]

[7, 2, 3, 6, 3]

In [54]:
seq[-4:]

[5, 6, 0, 1]

In [55]:
seq[::2]

[7, 3, 3, 6, 1]

In [56]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

序列函数

In [58]:
some_list = ['foo', 'bar', 'baz']

In [59]:
mapping = {}

In [61]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [62]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [63]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [64]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

字典

In [65]:
empty_dict = {}

In [66]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [67]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [68]:
d1[7] = 'an integer'

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [70]:
d1['b']

[1, 2, 3, 4]

In [71]:
'b' in d1

True

In [72]:
d1[5] = 'some value'

In [73]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [74]:
del d1[5]

In [75]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [76]:
list(d1.keys())

['a', 'b', 7]

In [77]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [78]:
d1.update({'b' : 'foo', 'c' : 12})

In [79]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [80]:
mapping = dict(zip(range(5), reversed(range(5))))

In [81]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [82]:
value = d1.get('b',12)

In [83]:
value

'foo'

In [84]:
value = d1.get('d',1)
value

1

集合

In [85]:
set([2, 2, 2, 1, 3, 3#无序的不可重复的元素的集合

{1, 2, 3}

In [86]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [87]:
a = {1, 2, 3, 4, 5}

In [88]:
b = {3, 4, 5, 6, 7, 8}

In [89]:
a.union(b) #合集

{1, 2, 3, 4, 5, 6, 7, 8}

In [90]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [91]:
a & b

{3, 4, 5}

In [92]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [93]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [94]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

列表、集合和字典推导式

In [95]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

3.2 函数

In [97]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [98]:
my_function(10, 20)

45.0

In [99]:
my_function(3.14, 7, 3.5)

35.49

In [100]:
my_function(5, 6, z=0.7)

0.06363636363636363

命名空间、作用域，和局部函数

In [110]:
def func():
    aaaa = []
    for i in range(5):
        aaaa.append(i)

In [112]:
func()
aaaa

NameError: name 'aaaa' is not defined

In [104]:
a = []
def func():
    for i in range(5):
        a.append(i)
a

[]

In [105]:
func()
a

[0, 1, 2, 3, 4]

In [106]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
f()

{'a': 5, 'b': 6, 'c': 7}

In [107]:
import re

In [109]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia','FlOrIda', 'south carolina##', 'West virginia?']
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

lambda函数

In [113]:
equiv_anon = lambda x: x * 2

In [116]:
equiv_anon(2)

4

错误和异常处理

In [1]:
float(5)

5.0

In [2]:
float('something')

ValueError: could not convert string to float: 'something'

In [8]:
def attempy_float(x):
    try:
        return float(x)
    except:
        return x

In [4]:
attempy_float('1.2345')

1.2345

In [5]:
attempy_float('somethon')

'somethon'

In [9]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [10]:
def attempy_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [11]:
attempy_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [16]:
def attempy_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

3.3文件和操作系统

In [18]:
path = 'Chapter 3/example.txt'
f = open(path)

In [19]:
lines = [x.rstrip() for x in open(path)]

In [20]:
lines

['aaadd', 'dsffgw54', 'ssd//**', 'aaaaaa']

In [22]:
f.close()

In [26]:
f = open(path)
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [28]:
f =open(path,'w')

In [29]:
f = open(path)
f.read(10)

'我们\nnsndsds'

In [30]:
f2 = open(path, 'rb')

In [31]:
f2.read(10)

b'\xce\xd2\xc3\xc7\r\nnsnd'

In [32]:
f.tell()

13

In [33]:
f2.tell()

10

In [34]:
import sys

In [35]:
sys.getdefaultencoding()

'utf-8'

In [36]:
f.close()
f2.close()